{% extends "ServerGroveLiveChatBundle::admin-layout.html.twig" %}
{% block content %}
<h1>Canned Messages list</h1>
<h2>{{msg}}</h2>
<table class="table">
    <thead>
        <tr>
            <th class="span3">
                Id
            </th>
            <th>
                Title
            </th>
            <th class="span3">
                &nbsp;
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="3">
            {% include "ServerGroveLiveChatBundle:Admin:pager.html.twig" with {'pages': pages, 'route': 'sglc_admin_canned_messages'} %}
            </td>
        </tr>
    </tfoot>
    <tbody>
        {% if cannedMessages %}
        {% for cannedMessage in cannedMessages %}
        <tr>
            <td>
                <a href="{{path('sglc_admin_canned_message_edit', {'id': cannedMessage.getId()})}}">{{cannedMessage.getId()}}</a>
            </td>
            <td>
                {{cannedMessage.getTitle()}}
            </td>
            <td>
                <a class="btn btn-small" href="{{path('sglc_admin_canned_message_edit', {'id': cannedMessage.getId()})}}">Edit</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
<p class="well">
    <a class="btn" href="{{path('sglc_admin_canned_message')}}">New</a>
</p>
{% endblock %}