{% extends "ServerGroveLiveChatBundle::admin-layout.html.twig" %}

{% block h1 %}Chat sessions list{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th class="span2">
                Id
            </th>
            <th class="span2">
                Created At
            </th>
            <th class="span2">
                Operator
            </th>
            <th class="span1">
                Visitor
            </th>
            <th>
                Question
            </th>
            <th class="span1">
                Messages
            </th>
            <th class="span1">
                Status
            </th>
            <th class="span1">
                Rating
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="8" style="text-align: right;">
            {% include "ServerGroveLiveChatBundle:Admin:pager.html.twig" with {'pages': pages, 'route': 'sglc_admin_chat_sessions'} %}
            </td>
        </tr>
    </tfoot>
    <tbody>
        {% if sessions %}
        {% for session in sessions %}
        <tr>
            <td>
                <a href="{{ path('sglc_admin_chat_session', {'id': session.getId()})}}">{{session.getId()}}</a>
            </td>
            <td style="text-align: center;">
                {{session.getCreatedAt().format('Y-m-d H:i:s')}}
            </td>
            <td>
                {% if session.getOperator() %}
                {{session.getOperator().getName()}}
                {%else%}
                Unknown
                {%endif%}
            </td>
            <td>
                <a target="_blank" href="{{ path('sglc_admin_visitor', {'id': session.getVisitor().getId()})}}">{{session.getVisitor().getName() ? session.getVisitor().getName() : session.getVisitor().getId()}}</a>
            </td>
            <td>
                {{session.getQuestion()}}
            </td>
            <td style="text-align: center;">
                {{session.getMessages().count()}}
            </td>
            <td>
                {{session.getStatus()}}
            </td>
            <td>
                {{session.getRating().getGrade()}}
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}