{% extends 'form_div_layout.html.twig' %}

{% block field_errors %}
{% spaceless %}
{% if errors|length > 0 %}
<ul style="display: inline; margin: 0; padding: 0;">
    <li>(</li>
    {% for error in errors %}
    <li style="list-style: none; color: red; display: inline-block; font-size: 0.95em;">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
    {% endfor %}
    <li>)</li>
</ul>
{% endif %}
{% endspaceless %}
{% endblock field_errors %}

{% block repeated_row %}
{% spaceless %}
<div class="inputname">
        {{ form_label(form) }}
</div>
<div class="inputbox">
        {{ form_widget(form.first) }} &nbsp; {{ form_widget(form.second) }}{{ form_errors(form) }}
</div>
{% endspaceless %}
{% endblock repeated_row %}

{% block field_row %}
{% spaceless %}
<div class="inputname">
        {{ form_label(form) }}
</div>
<div class="inputbox">
        {{ form_widget(form) }}{{ form_errors(form) }}
</div>
{% endspaceless %}
{% endblock field_row %}