{% spaceless %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">

        <div class="container">
            <a class="brand" href="#">
                ServerGrove LiveChat
            </a>

            <div class="nav-collapse">
                {% if is_granted('ROLE_OPERATOR') %}
                <ul class="nav">
                    <li{% if "sglc_admin_console_sessions" == currentRoute %} class="active"{% endif %}>
                        <a href="{{ path('sglc_admin_console_sessions') }}">Active Sessions</a>
                    </li>
                    <li{% if "sglc_admin_chat_sessions" == currentRoute %} class="active"{% endif %}>
                        <a href="{{ path('sglc_admin_chat_sessions') }}">Chat Sessions</a>
                    </li>
                    <li{% if "sglc_admin_operators" == currentRoute %} class="active"{% endif %}>
                        <a href="{{ path('sglc_admin_operators') }}">Operators</a>
                    </li>
                    <li{% if "sglc_admin_operator_departments" == currentRoute %} class="active"{% endif %}>
                        <a href="{{ path('sglc_admin_operators_departments') }}">Departments</a>
                    </li>
                    <li{% if "sglc_admin_canned_messages" == currentRoute %} class="active"{% endif %}>
                        <a href="{{path('sglc_admin_canned_messages')}}">Canned Messages</a>
                    </li>
                    <li{% if "sglc_admin_visitors" == currentRoute %} class="active"{% endif %}>
                        <a href="{{ path('sglc_admin_visitors') }}">Visitors</a>
                    </li>
                    <li{% if "sglc_admin_visits" == currentRoute %} class="active"{% endif %}>
                        <a href="{{ path('sglc_admin_visits') }}">Visits</a>
                    </li>
                </ul>

                <ul class="nav pull-right">
                    <li>
                        <a href="{{ path('sglc_admin_logout') }}">Logout</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="top-margin"></div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.navbar a').click(function(){
            SessionToolkit.Global.disableMonitor();
        });
    });
</script>
{% endspaceless %}
