{% extends "ServerGroveLiveChatBundle::admin-layout.html.twig" %}
{% block content %}
{% include "ServerGroveLiveChatBundle:Admin:header.html.twig" %}
<h1>Departments list</h1>
<h2>{{msg}}</h2>
<table class="table">
    <thead>
        <tr>
            <th class="span3">
                Id
            </th>
            <th>
                Name
            </th>
            <th class="span2">
                Is Active
            </th>
            <th class="span2">
                &nbsp;
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4" style="text-align: right;">
                {% include "ServerGroveLiveChatBundle:Admin:pager.html.twig" with {'pages': pages, 'route': 'sglc_admin_operator_departments'} %}
            </td>
        </tr>
    </tfoot>
    <tbody>
        {% if departments %}
        {% for department in departments %}
        <tr>
            <td>
                {{department.getId()}}
            </td>
            <td>
                {{department.getName()}}
            </td>
            <td style="text-align: center;">
                {% if department.isActive() %}
                Yes
                {% else %}
                No
                {% endif %}
            </td>
            <td>
                <!--<a href="#">{% if department.isActive() %}Deactivate{% else %}Activate{% endif %}</a>
                &nbsp;-->
                <a href="{{path('sglc_admin_operator_department_edit', {'id': department.getId()})}}">Edit</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
<p class="well">
    <a href="{{path('sglc_admin_operator_department')}}">New</a>
</p>
{% endblock %}
