{% extends "ServerGroveLiveChatBundle::admin-layout.html.twig" %}
{% block content %}
<h1>Operators list</h1>
<h2>{{msg}}</h2>
<table class="table">
    <thead>
        <tr class="header">
            <th class="span3">
                Id
            </th>
            <th>
                Name
            </th>
            <th class="span3">
                e-mail
            </th>
            <th class="span2">
                Created At
            </th>
            <th class="span2">
                Is Active
            </th>
            <th class="span2">
                &nbsp;
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="6" style="text-align: right;">
                {% include "ServerGroveLiveChatBundle:Admin:pager.html.twig" with {'pages': pages, 'route': 'sglc_admin_operators'} %}
            </td>
        </tr>
    </tfoot>
    <tbody>
        {% if operators %}
        {% for operator in operators %}
        <tr>
            <td>
                {{operator.getId()}}
            </td>
            <td>
                {{operator.getName()}}
            </td>
            <td>
                {{operator.getEmail()}}
            </td>
            <td style="text-align: center;">
                {{operator.getCreatedAt().format('Y-m-d H:i:s')}}
            </td>
            <td style="text-align: center;">
                {% if operator.isActive() %}
                Yes
                {% else %}
                No
                {% endif %}
            </td>
            <td class="btn-group">
                <a class="btn btn-small" href="#">{% if operator.isActive() %}Deactivate{% else %}Activate{% endif %}</a>
                <a class="btn btn-small" href="{{path('sglc_admin_operator_edit', {'id': operator.getId()})}}">Edit</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
<p class="well">
    <a class="btn" href="{{path('sglc_admin_operator')}}">New</a>
</p>
{% endblock %}
