{% extends "ServerGroveLiveChatBundle::admin-layout.html.twig" %}

{% block h1 %}Visitor "{{visitor.getId()}}"{% endblock %}

{% block content %}

<script type="text/javascript">
    //<![CDATA[
    {% include "ServerGroveLiveChatBundle:Admin:sessionsApi.js.twig" %}
    jQuery(document).ready(function() {
        SessionToolkit.Visit.setListContainer('#visitor-visits');
        SessionToolkit.Visit.disableChatInvitation();
        SessionToolkit.Visit.Item.drawAll({{visits|json_encode|raw}});
    });//]]>
</script>
<section id="visitor-details">
    <h2>Details</h2>

    <div class="row">
        <div class="span2">Visitor ID</div>
        <div class="span10">{{visitor.getId()}}</div>
    </div>
    <div class="row">
        <div class="span2">Browser</div>
        <div class="span10">{{visitor.getAgent()}}</div>
    </div>
    <div class="row">
        <div class="span2">Languages</div>
        <div class="span10">{{visitor.getLanguages()}}</div>
    </div>
    <div class="row">
        <div class="span2">Hostname</div>
        <div class="span10">{{visitor.getHostname()}}</div>
    </div>
    <div class="row">
        <div class="span2">Name</div>
        <div class="span10">{{visitor.getName()}}</div>
    </div>
    <div class="row">
        <div class="span2">Email</div>
        <div class="span10"><a href="mailto:{{visitor.getEmail()}}">{{visitor.getEmail()}}</a></div>
    </div>
    <div class="row">
        <div class="span2">Chat sessions #</div>
        <div class="span10">N/A</div>
    </div>
</section>
<br/>
<section id="visitor-visits">
    <h2>Visits</h2>

    <table class="table">
        <thead>
            <tr class="header">
                <th>Visitor ID (# visits)</th>
                <th>Local Time</th>
                <th>Hostname</th>
                <th>Time</th>
                <th>Duration (current page/Total)</th>
                <th>Languages</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</section>

{% endblock %}
