{% extends "ServerGroveLiveChatBundle::admin-layout.html.twig" %}
{% block content %}
{% include "ServerGroveLiveChatBundle:Admin:header.html.twig" %}
<h1>Visitors list</h1>
<h2>{{msg}}</h2>
<table class="table">
    <thead>
        <tr>
            <th class="span3">
                Id
            </th>
            <th class="span2">
                Created At
            </th>
            <th>
                Name
            </th>
            <th class="span4">
                e-mail
            </th>
            <th class="span6">
                Agent
            </th>
            <th class="span3">
                Visitor key
            </th>
            <th class="span2">
                Remote Addr
            </th>
            <th class="span2">
                Languages
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="10" style="text-align: right;">
            {% include "ServerGroveLiveChatBundle:Admin:pager.html.twig" with {'pages': pages, 'route': 'sglc_admin_visitors'} %}
            </td>
        </tr>
    </tfoot>
    <tbody>
        {% if visitors %}
        {% for visitor in visitors %}
        <tr>
            <td>
                {% spaceless %}
                <a target="_blank" href="{{ path('sglc_admin_visitor', {'id': visitor.getId()})}}">
                    {{visitor.getId()}}
                </a>
                {% endspaceless %}
            </td>
            <td style="text-align: center;">
                {{visitor.getCreatedAt().format('Y-m-d H:i:s')}}
            </td>
            <td>
                {{visitor.getName()}}
            </td>
            <td>
                <a href="mailto:{{visitor.getEmail()}}">{{visitor.getEmail()}}</a>
            </td>
            <td>
                {{visitor.getAgent()}}
            </td>
            <td>
                {{visitor.getKey()}}
            </td>
            <td>
                {{visitor.getRemoteAddr()}}
            </td>
            <td>
                {{visitor.getLanguages()}}
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}