{% extends "ServerGroveLiveChatBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ block('h1') }}{% endblock title %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets "@ServerGroveLiveChatBundle/Resources/public/css/bootstrap.min.css"
               "@ServerGroveLiveChatBundle/Resources/public/css/admin.css"
               output="css/sglc-admin.css"
%}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}


{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block preheader %}
{% include "ServerGroveLiveChatBundle:Admin:header.html.twig" %}
{% endblock %}

{% block header %}
<h1>{% block h1 %}{% endblock h1 %}</h1>
<br/>
{% endblock %}

{% block postheader %}
{% render url('sglc_admin_messages') %}
{% endblock %}
