<style type="text/css">
    ul#header-menu li {
        list-style: none;
        display: inline-block;
    }
</style>
<ul id="header-menu">
    <li>
        <a href="{{ path('sglc_admin_console_sessions') }}">Active Sessions</a>
    </li>
    <li>
        <a href="{{ path('sglc_admin_operators') }}">Operators</a>
    </li>
    <li>
        <a href="{{ path('sglc_admin_operator_departments') }}">Departments</a>
    </li>
    <li>
        <a href="{{path('sglc_admin_canned_messages')}}">Canned Messages</a>
    </li>
    <li>
        <a href="{{ path('sglc_admin_visitors') }}">Visitors</a>
    </li>
    <li>
        <a href="{{ path('sglc_admin_visits') }}">Visits</a>
    </li>
    <li>
        <a href="{{ path('sglc_admin_logout') }}">Logout</a>
    </li>
</ul>
