{% extends "SGLiveChatBundle::admin-layout.html.twig" %}
{% block content %}
{% include "SGLiveChatBundle:Admin:header.html.twig" %}

{% if operator.getId() %}
<h1>Edit operator "{{operator.getName()}}"</h1>
{% else %}
<h1>Add new operator</h1>
{% endif %}

{% set route = operator.getId() ? 'sglc_admin_operator_edit' : 'sglc_admin_operator' %}
{% set vars = operator.getId() ? {'id': operator.getId()} : {} %}
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery(':text').focus();
    });
</script>
<form action="{{ path(route, vars) }}" method="post">
    <div style="padding-left: 30px;padding-right: 30px;">
        <div>
            {{ form_errors(form) }}
        </div>
        <div class="inputname">
            {{ form_label(form.name) }}
        </div>
        <div class="inputbox">
            {{ form_widget(form.name) }}
        </div>
        <p>
        </p>
        <div class="inputname">
            {{ form_label(form.email) }}
        </div>
        <div class="inputbox">
            {{ form_widget(form.email.first) }} &nbsp; {{ form_widget(form.email.second) }}
        </div>
        <p>
        </p>
        <div class="inputname">
            {{ form_label(form.passwd) }}
        </div>
        <div class="inputbox">
            {{ form_widget(form.passwd.first, {'attr': {'autocomplete': 'off'}}) }} &nbsp; {{ form_widget(form.passwd.second, {'attr': {'autocomplete': 'off'}}) }}
        </div>
        <p>
            {{ form_widget(form.isActive) }}
            {{ form_label(form.isActive) }}
        </p>
        <p>
            {{ form_rest(form) }}
        </p>
        <input type="submit" value="Submit" />
    </div>
</form> {% endblock %}