{% extends "SGLiveChatBundle::admin-layout.html.twig" %}

{% form_theme form _self %}
{% use 'TwigBundle:Form:div_layout.html.twig' %}

{% block field_errors %}
{% spaceless %}
{% if errors|length > 0 %}
<ul style="display: inline; margin: 0; padding: 0;">
    <li>(</li>
    {% for error in errors %}
    <li style="list-style: none; color: red; display: inline-block; font-size: 0.95em;">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
    {% endfor %}
    <li>)</li>
</ul>
{% endif %}
{% endspaceless %}
{% endblock field_errors %}

{% block repeated_row %}
{% spaceless %}
<div class="inputname">
        {{ form_label(form) }}
</div>
<div class="inputbox">
        {{ form_widget(form.first) }} &nbsp; {{ form_widget(form.second) }}{{ form_errors(form) }}
</div>
{% endspaceless %}
{% endblock repeated_row %}

{% block field_row %}
{% spaceless %}
<div class="inputname">
        {{ form_label(form) }}
</div>
<div class="inputbox">
        {{ form_widget(form) }}{{ form_errors(form) }}
</div>
{% endspaceless %}
{% endblock field_row %}

{% block content %}
{% include "SGLiveChatBundle:Admin:header.html.twig" %}

{% if operator.getId() %}
<h1>Edit operator "{{operator.getName()}}"</h1>
{% else %}
<h1>Add new operator</h1>
{% endif %}

{% set route = operator.getId() ? 'sglc_admin_operator_edit' : 'sglc_admin_operator' %}
{% set vars = operator.getId() ? {'id': operator.getId()} : {} %}

<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery(':text:first').focus();
        jQuery('form').submit(function() {
            if (jQuery('#passwordEnabler').length > 0 && jQuery(':password[disabled]').length == 0 && jQuery(':password:first').val().trim().length == 0) {
                alert('Password cannot be empty');
                return false;
            }
            
            return true;
        });
    });
</script>

<form action="{{ path(route, vars) }}" method="post">
    <div style="padding-left: 30px;padding-right: 30px;">
        <div>
            {{ form_errors(form) }}
        </div>
        {{ form_row(form.name) }}
        <p></p>
        {{ form_row(form.email) }}
        <p></p>
        {% set attr = edit ? {'autocomplete': 'off', 'disabled': 'disabled'} : {'autocomplete': 'off'} %}
        {{ form_row(form.passwd, {'attr': attr}) }}
        {# if edit %}
            <input type="checkbox" id="passwordEnabler" onclick="jQuery(this).siblings(':password').attr({'disabled': !this.checked}).prev(':password:first').focus();" /> Change
        {% endif #}
        <p>{{ form_widget(form.isActive) }}{{ form_label(form.isActive) }}</p>
        {{ form_row(form.departments) }}
        <p>{{ form_rest(form) }}</p>
        <input type="submit" value="Submit" onclick="return " />
    </div>
</form>
{% endblock %}