{% extends "SGLiveChatBundle::admin-layout.html.twig" %}
{% block content %}
{% include "SGLiveChatBundle:Admin:header.html.twig" %}

{% if operator.getId() %}
<h1>Edit operator "{{operator.getName()}}"</h1>
{% else %}
<h1>Add new operator</h1>
{% endif %}

{% set route = operator.getId() ? 'sglc_admin_operator_edit' : 'sglc_admin_operator' %}
{% set vars = operator.getId() ? {'id': operator.getId()} : {} %}
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery(':text:first').focus();
        jQuery('form').submit(function() {
            if (jQuery('#passwordEnabler').length > 0 && jQuery(':password[disabled]').length == 0 && jQuery(':password:first').val().trim().length == 0) {
                alert('Password cannot be empty');
                return false;
            }
            
            return true;
        });
    });
</script>

<form action="{{ path(route, vars) }}" method="post">
    <div style="padding-left: 30px;padding-right: 30px;">
        <div>
            {{ form_errors(form) }}
        </div>
        <div class="inputname">
            {{ form_label(form.name) }}
        </div>
        <div class="inputbox">
            {{ form_widget(form.name) }}
        </div>
        <p>
        </p>
        <div class="inputname">
            {{ form_label(form.email) }}
        </div>
        <div class="inputbox">
            {{ form_widget(form.email.first) }} &nbsp; {{ form_widget(form.email.second) }}
        </div>
        <p>
        </p>
        <div class="inputname">
            {{ form_label(form.passwd) }}
        </div>
        <div class="inputbox">
            {% set attr = edit ? {'autocomplete': 'off', 'disabled': 'disabled'} : {'autocomplete': 'off'} %}
            {{ form_widget(form.passwd.first, {'attr': attr}) }} &nbsp; {{ form_widget(form.passwd.second, {'attr': attr}) }}
            {% if edit %}
            <input type="checkbox" id="passwordEnabler" onclick="jQuery(this).siblings(':password').attr({'disabled': !this.checked}).prev(':password:first').focus();" /> Change
            {%endif%}
        </div>
        <p>
            {{ form_widget(form.isActive) }}
            {{ form_label(form.isActive) }}
        </p>
        <div class="inputname">
            {{ form_label(form.departments) }}
        </div>
        <div class="inputbox">
            {{ form_widget(form.departments)}}
        </div>
        <p>
            {{ form_rest(form) }}
        </p>
        <input type="submit" value="Submit" onclick="return " />
    </div>
</form>
{% endblock %}