{% extends "SGLiveChatBundle::admin-layout.html.twig" %}

{% block content %}
{% include "SGLiveChatBundle:Admin:header.html.twig" %}
{% if department.getId() %}
<h1>Edit department "{{department.getName()}}"</h1>
{% else %}
<h1>Add new department</h1>
{% endif %}
{% set route = department.getId() ? 'sglc_admin_operator_department_edit' : 'sglc_admin_operator_department' %}
{% set vars = department.getId() ? {'id': department.getId()} : {} %}
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery(':text').focus();
    });
</script>
<form action="{{ path(route, vars) }}" method="post">
    <div style="padding-left: 30px;padding-right: 30px;">
        <div>
            {{ form_errors(form) }}
        </div>
        <div class="inputname">
            {{ form_label(form.name) }}
        </div>
        <div class="inputbox">
            {{ form_widget(form.name) }}
        </div>
        <p>
            {{ form_widget(form.isActive) }}{{ form_label(form.isActive) }}
        </p>
        <p>
            {{ form_rest(form) }}
        </p>
        <input type="submit" value="Submit" />
    </div>
</form>

{% endblock %}