{% if chat %}
<tr>
    <td>{{chat.getId()}} - {{chat.getStatus()}}</td>
    <td>#{{chat.getVisitor().getId()}} - {{chat.getVisitor().getName()}}</td>
    <td>{{chat.getVisitor().getEmail()}}</td>
    <td>{{chat.getQuestion()}}</td>
    <td>{{chat.getCreatedAt().format('Y-m-d H:i:s')}}</td>
    <td>{{chat.getUpdatedAt().format('U') - chat.getCreatedAt().format('U')}}</td>
    {% if chat.getOperator() %}
    <td>{{chat.getOperator().getName()}}</td>
    {% else %}
    <td>&nbsp;</td>
    {% endif %}
    <td>
        {% if not chat.getOperator() and chat.getStatusId() is not constant('ServerGrove\\\SGLiveChatBundle\\Document\\Session::STATUS_CANCELED') and chat.getStatusId() is not constant('ServerGrove\\\SGLiveChatBundle\\Document\\Session::STATUS_CLOSED') %}
        <a href="javascript:void(0);" onclick="window.open('{{path('sglc_chat_accept', {'id': chat.getId()})}}','livechat{{chat.getId()}}','width=700,height=575,toolbar=no,location=no');">
            Accept
        </a>
        {% endif %}
        {% if chat.getOperator() and chat.getStatusId() is not constant('ServerGrove\\\SGLiveChatBundle\\Document\\Session::STATUS_IN_PROGRESS') %}
        <a href="javascript:void(0);" onclick="window.open('{{path('sglc_chat_load', {'id': chat.getId()})}}','livechat{{chat.getId()}}','width=700,height=575,toolbar=no,location=no');">
            Reload
        </a>
        {% endif %}
        {% if chat.getStatusId() is not constant('ServerGrove\\\SGLiveChatBundle\\Document\\Session::STATUS_CANCELED') and chat.getStatusId() is not constant('ServerGrove\\\SGLiveChatBundle\\Document\\Session::STATUS_CLOSED') %}
        | <a onclick="return confirm( 'Are you sure?' );" href="{{path('sglc_admin_console_close', {'id': chat.getId()})}}">Close</a>
        {% endif %}
    </td>

</tr>
{% endif %}