{% extends "SGLiveChatBundle::layout.html.twig" %}
{% block head_buttons %}
<div id="buttons">
    <a href="{{ path('sglc_chat_done', {'id': chat.getId()})}}" onclick="return confirm('This will close the chat session. Are you sure?');" title="Email transcripts"><img src="{{asset('images/icon_email.jpg')}}" width="41" height="37" alt="Email" class="header_buttons" /></a><a href="{{ path('sglc_chat_done', {'id': chat.getId()})}}" onclick="return confirm('Are you sure you want to close the chat session?');" title="Close"><img src="{{asset('images/icon_close.jpg')}}" width="87" height="37" alt="Online Support ServerGrove" class="header_buttons" /></a>
</div>{%endblock%}
{% block content %}
<div class="left">
    <div id="connecting" style=" margin-left: 50px;">
        <h3 style="background-color: #fff; border: 1px #777 solid; text-align: center; padding: 10px;">{% if isOperator %} 
            Waiting for visitor's response. Please wait... <a href="{{path('sglc_chat_invite_reject', {'id': chat.getId()})}}">Cancel request</a> {%else%}
            Please wait while we find an agent to assist you...
            {% endif %}
            <p>
                <img src="{{asset('images/loader.gif')}}" alt="Please wait..."/>
            </p>
        </h3>{% render "SGLiveChatBundle:Chat:faq" %}
        <br>
        <h3>If you prefer, you can <a href="https://secure.servergrove.com/clients/submitticket.php">submit a support ticket</a>.</h3>
    </div>
</div>
<div id="chat" style="display: none; width: 700px;">
    <div class="left">
        <div id="messages" style="overflow: auto;height: 400px;">
            <div id="user-messages">
            </div>
            <div id="action" style="font-size: 0.8em; font-style: italic;">&nbsp;
            </div>
        </div>
    </div>
    <div class="right">
        <img src="{{asset('images/banner.gif')}}" width="114" height="223" alt="How can we help?" />
    </div>
    <div class="hspacer">
        &nbsp;
    </div>
    <div class="left">
        <textarea id="msg"></textarea>
    </div>
    <div class="right">
        <input id="btnSend" type="image" src="{{asset('images/btn_send.gif')}}" name="send" disabled="disabled" />{% if isOperator %}<input id="btnClear" type="button" value="Clear"/>{% endif %}
    </div>
    <div class="vspacer">
    </div>
    <img src="{{asset('images/secure_chat.gif')}}" width="79" height="18" alt="Email" class="secure_chat" alt="This chat is encrypted for your safety" />{% if isOperator %}
    <div style="clear:both; text-align:center;">
        Canned messages:
        <select id="canned" style="width: 200px;">
            <option value="---">---</option>
            {% for message in canned %}<option value="{{message}}">{{message}}</option>
            {% endfor %}
        </select>
        <input type="button" value="Copy" id="appendCanned" disabled="disabled" />
    </div>{% endif %}
</div>
<script type="text/javascript">
                //<![CDATA[
            	{% include "SGLiveChatBundle:Chat:ChatApi.js.twig" %}
            	//]]>
</script>
{% endblock %}