{% extends "SGLiveChatBundle::layout.html.twig" %}
{% block content %}
<div style="padding-left: 30px;padding-right: 30px;">
    <h3>
        Please enter your name, email address and question so we can assist you. We will connect an available agent.
        <br><br>
        If you prefer, you can also <a href="https://secure.servergrove.com/clients/submitticket.php">submit a ticket</a> or search our <a href="http://secure.servergrove.com/clients/knowledgebase.php" target="_blank">knowledge base</a>.
    </h3>
    <form action="{{path('sglc_chat_homepage')}}" method="post">
        <div class="inputname">
        	{{ form_errors(form.name) }}
            Name
        </div>
        <div class="inputbox">
        	{{form_field(form.name, {'style': 'width: 400px'})}}
        </div>
        <p></p>
        <div class="inputname">
        	{{ form_errors(form.email) }}
            Email
        </div>
        <div class="inputbox">
        	{{form_field(form.email, {'style': 'width: 400px'})}}
        </div>
        <p></p>
        <div class="inputname">
        	{{ form_errors(form.question) }}
            Question
        </div>
        <div class="inputbox">
        	{{form_field(form.question, {'style': 'width: 400px; height: 170px'})}}
        </div>
        <p>{{ form_hidden(form) }}</p>
        <input type="submit" value="Start Chat" />
    </form>
	<h3 class="error">{{errorMsg}}{{ form_errors(form) }}</h3>
</div>
{% endblock %}